# Required: Govee LAN device MAC.
GOVEE_SOFIA_DEVICE_ID=
GOVEE_SOFIA_IP=

# Optional: Govee LAN device MAC. Leave empty to disable this light.
GOVEE_BURGAS_DEVICE_ID=
GOVEE_BURGAS_IP=

TUYA_DEVICE_ID=
TUYA_DEVICE_IP=
TUYA_LOCAL_KEY=

UNDERCUT_F1_API_URL=http://localhost:61937/
